body {
    background-color: black;
    color: white;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#logo {
    float: right;
}

#logo h1 {
    position: relative;
    left:-100px;
    top:50px;
    font-size:20px;
}

h3 {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}

#container {
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#info {
    float: left;
    width: 50%;
}

#actions {
    float: left;
    width: 50%;
}

.nav {
    padding:0;
}

.nav li {
    display:inline;
}

.nav li a {
    font-family:Arial,serif;
    text-decoration: none;
    float:left;
    padding:15px;
    background-color: #422100;
    color:#ffffff;
    border-bottom: 5px solid #934E2D;
}

.nav li a:hover {
    padding:15px;
    border-bottom: 5px solid #612D00;
}

#data {
    clear: both;
    padding-top: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

td {
    padding: 10px;
}

th {
    background-color: #422100;
    padding-bottom: 15px;
    padding-top:15px;
    font-weight: bold;
}

.dark {
    background-color: #612D00;
}

.light {
    background-color: #934E2D;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.center {
    text-align: center;
}

input, select {
    padding: 5px;
    margin: 5px 5px 15px;
    background: none repeat scroll 0 0 #612D00;
    border: 1px solid #FFC18A;
    color: white;
}

p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:1em;
}

a {
    color: white;
}

a:hover {
    color: #934E2D;
}

/*body {*/
    /*background-color: black;*/
    /*color: white;*/
    /*font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;*/
    /*font-size: 10pt;*/
    /*line-height: 1em;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-align: center;*/
/*}*/

/*#nav {*/
    /*padding:5px;*/
    /*margin-left:50px;*/
/*}*/

/*#nav li {*/
    /*display:inline;*/
/*}*/

/*#nav li a {*/
    /*font-family:Arial,serif;*/
    /*font-size:12px;*/
    /*text-decoration: none;*/
    /*float:left;*/
    /*padding:10px;*/
    /*background-color: #333333;*/
    /*color:#ffffff;*/
    /*border-bottom:2px;*/
    /*border-bottom-color:#000000;*/
    /*border-bottom-style:solid;*/
/*}*/

/*#nav li a:hover {*/
    /*background-color:#9B1C26;*/
    /*padding-bottom:10px;*/
    /*border-bottom:2px;*/
    /*border-bottom-color:#000000;*/
    /*border-bottom-style:solid;*/
/*}*/

/*#data {*/
    /*clear: both;*/
/*}*/

/*a {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

/*a:hover {*/
    /*text-decoration: underline;*/
/*}*/

/*table {*/
    /*padding:5px;]*/
/*}*/

/*#container {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*min-width: 800px;*/
/*}*/

/*#contentwrapper {*/
    /*float: left;*/
    /*margin-right: auto;*/
    /*max-width: 1000px;*/
    /*min-width: 800px;*/
/*}*/
/*#contentcolumn {*/
    /*margin-right: 300px;*/
/*}*/

/*#footer {*/
    /*clear: left;*/
/*}*/
/*.wrapper {*/
    /*padding: 0 2% 2%;*/
    /*width: 96%;*/
/*}*/
/*.menu_wrapper {*/
    /*font-size: 9pt;*/
    /*padding-left: 20px;*/
    /*padding-top: 0;*/
    /*width: 96%;*/
/*}*/
/*#page {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 10px;*/
    /*max-width: 1000px;*/
    /*text-align: left;*/
    /*width: 96%;*/
/*}*/
/*.topic_list {*/
    /*padding-top: 15px;*/
    /*width: 700px;*/
/*}*/

/*.topic a {*/
    /*color: #FFA500;*/
    /*font-size: 11pt;*/
/*}*/
/*.pined a {*/
    /*color: red;*/
    /*font-size: 11pt;*/
/*}*/

/*.pined {*/
    /*color: red;*/
    /*font-size: 11pt;*/
/*}*/
/*th {*/
    /*background-color: #422100;*/
    /*padding: 10px;*/
/*}*/
/*td {*/
    /*padding: 4px;*/
/*}*/


/*.posts {*/
    /*text-align: center;*/
/*}*/
/*.last {*/
    /*font-size: small;*/
    /*text-align: right;*/
/*}*/
/*.last a {*/
    /*color: silver;*/
/*}*/
/*.post {*/
    /*font-size: 13px;*/
    /*line-height: 18px;*/
    /*margin-top: 10px;*/
/*}*/
/*.posthead {*/
    /*background-color: #422100;*/
    /*clear: both;*/
    /*font-weight: bold;*/
    /*width: 100%;*/
/*}*/
/*.posthead_left {*/
    /*clear: both;*/
    /*display: block;*/
    /*float: left;*/
    /*position: relative;*/
    /*text-align: left;*/
    /*width: 180px;*/
/*}*/
/*.posthead_right {*/
    /*display: block;*/
    /*margin-left: 200px;*/
/*}*/
/*.post_body {*/
    /*background-color: #612D00;*/
    /*clear: both;*/
    /*padding: 5px;*/
/*}*/
/*.p2_nick {*/
    /*display: block;*/
    /*margin-right: 200px;*/
    /*padding: 5px;*/
    /*text-align: left;*/
/*}*/
/*.p2_data {*/
    /*clear: both;*/
    /*display: block;*/
    /*float: right;*/
    /*padding: 5px;*/
    /*position: relative;*/
    /*text-align: right;*/
    /*width: 180px;*/
/*}*/
/*.cite {*/
    /*background: none repeat scroll 0 0 #753D00;*/
    /*border: 1px solid black;*/
    /*font-weight: bold;*/
    /*margin: 3px;*/
    /*padding: 2px;*/
/*}*/
/*.cite_link {*/
    /*color: #A56D00;*/
/*}*/
/*.cite_field {*/
    /*display: none;*/
    /*font-weight: normal;*/
/*}*/
/*.forum_navi {*/
    /*font-size: 9pt;*/
    /*font-weight: bold;*/
    /*line-height: 25px;*/
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
/*}*/
/*form {*/
    /*color: White;*/
    /*display: inline;*/
    /*font-family: Arial,Helvetica,sans-serif;*/
    /*font-size: 9pt;*/
    /*font-weight: bold;*/
    /*line-height: 25px;*/
/*}*/
/*input {*/
    /*background: none repeat scroll 0 0 #612D00;*/
    /*border-color: #FFC18A;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*color: White;*/
    /*font-family: Arial;*/
/*}*/
/*TEXTAREA {*/
    /*background: none repeat scroll 0 0 #612D00;*/
    /*border: 1px solid #FFC18A;*/
    /*color: White;*/
    /*font-family: Arial CE;*/
    /*width: 100%;*/
/*}*/
/*.ignored {*/
    /*color: red;*/
/*}*/
/*.post_body a {*/
    /*color: orange;*/
    /*font-weight: bold;*/
/*}*/
/*.error {*/
    /*color: red;*/
/*}*/
/*.label {*/
    /*margin-top: 0;*/
/*}*/
/*body {*/
    /*margin: 0 auto;*/
    /*width: 860px;*/
/*}*/
/*form {*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
/*}*/
/*textarea {*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*height: 200px;*/
/*}*/
/*input {*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
/*}*/
/*#contentcolumn {*/
    /*margin-right: 250px;*/
/*}*/
/*.login_box {*/
    /*padding: 8px;*/
/*}*/
/*.forum_navi {*/
    /*display: block;*/
    /*padding: 8px;*/
/*}*/
/*.topic_list {*/
    /*width: auto;*/
/*}*/
/*.topic a {*/
    /*font-size: inherit;*/
/*}*/
/*.post {*/
    /*font-size: inherit;*/
    /*margin: 0 0 16px;*/
/*}*/
/*.posthead {*/
    /*border-bottom: 1px solid #000000;*/
    /*font-weight: 400;*/
    /*padding: 7px 8px 8px;*/
    /*width: auto;*/
/*}*/
/*.p2_nick {*/
    /*font-weight: 700;*/
    /*padding: 0;*/
/*}*/
/*.p2_data {*/
    /*padding: 0;*/
/*}*/
/*.post_body {*/
    /*padding: 8px;*/
/*}*/
/*.post_body a {*/
    /*font-weight: 400;*/
/*}*/
/*.cite .post {*/
    /*margin: 0;*/
/*}*/
/*.lastvisit_info {*/
    /*font-weight: 700;*/
    /*margin: 32px 0;*/
    /*text-align: center;*/
/*}*/
/*.post_modified {*/
    /*border-top: 1px solid black;*/
    /*color: red;*/
    /*margin-bottom: 0;*/
    /*margin-top: 6px;*/
    /*text-align: center;*/
/*}*/
/*.post_body .menu {*/
    /*border-top: 1px solid black;*/
    /*margin-bottom: 0;*/
    /*margin-top: 6px;*/
/*}*/
/*.found {*/
    /*background-color: deepskyblue;*/
    /*color: black;*/
    /*font-weight: bold;*/
/*}*/

/*#flip-tabs{*/
 /*position:relative;*/
/*}*/
/*#flip-navigation{*/
	/*margin:15px; padding:0;*/
	/*list-style:none;*/
/*}*/
/*#flip-navigation li{*/
	/*display:inline;*/
/*}*/
/*#flip-navigation li a{*/
	/*text-decoration:none; padding:10px;*/
	/*margin-right:0px;*/
	/*background:#612D00;*/
	/*color:white; outline:none;*/
    /*font-size: 14px;*/
/*}*/
/*#flip-navigation li a:hover{*/
	/*background:#934E2D;*/
	/*color:red;*/
/*}*/
/*#flip-navigation li.selected a{*/
	/*background:#934E2D;*/
	/*color:red;*/

/*}*/
/*#flip-container{*/
	/*font-family:Arial; font-size:13px;*/
/*}*/

/*#info {*/

/*}*/

/*#servers {*/
    /*margin: 0px 0px 0px 50px;*/
/*}*/
