        {% extends "base.html" %}
        {% block content %}
            <h3>Add summoner to the ranking</h3>
                {% if message %}
                    {{ message }}
                {% endif %}
                <div>
                    <form action="/add" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
        {% endblock %}