<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>NetWarsowy ranking graczy League of Legends</title>
    <link rel="stylesheet" href="/league_ranking/site_media/reset.css">
    <link rel="stylesheet" href="/league_ranking/site_media/style.css">
</head>
<body>
<div id="container">
    <div id="logo">
        <h1>NetWarsowy ranking League of Legends</h1>
        <img src="/league_ranking/site_media/logo.jpg">
    </div>
    <div id="info">
        <h3>Servers</h3>
        <ul class="nav">
            <li><a href="{% url index %}">BOTH</a></li>
            <li><a href="eune">EUNE</a></li>
            <li><a href="euw">EUW</a></li>
        </ul>
    </div>
    <div id="actions">
        <h3>Players</h3>
        <ul class="nav">
            <li><a href="add">ADD PLAYER</a></li>
            <li><a href="players_not_found" alt="Players without ranking">WHO'S MISSING</a></li>
        </ul>
    </div>
    <div id="data">
        {% block content %}{% endblock %}
    </div>
    <p>Statystyki dostarcza bot napisany przez <a href="http://net-bot.pl">http://net-bot.pl</a></p>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29817964-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
