        {% extends "base.html" %}
        {% block content %}
        <table width="100%">
            <tr id="header">
                <th width="5%">#</th>
                <th width="10%">Server No.</th>
                <th>Summoner</th>
                <th>NW Alias</th>
                <th width="10%">Rating</th>
                <th width="10%">Wins</th>
                <th width="10%">Losses</th>
            </tr>
            {% for player in players %}
                <tr class="{% cycle 'dark' 'light' as rowcolors %}">
                    <td>{{ forloop.counter }}</td>
                    <td class="center">{{ player.rank }}</td>
                    <td>{{ player.user }}</td>
                    <td>{{ player.nw_alias }}</td>
                    <td class="bold">{{ player.rating }}</td>
                    <td class="center">{{ player.wins }}</td>
                    <td class="center">{{ player.losses }}</td>
                </tr>
            {%  endfor %}
        </table>
        {% endblock %}
