        {% extends "base.html" %}
        {% block content %}
            <table width="50%">
                <tr id="header">
                    <th>#</th>
                    <th width="45%">NW Alias</th>
                    <th width="45%">Summoner</th>
                </tr>
            {% for player in players %}
                <tr class="{% cycle 'dark' 'light' as rowcolors %}">
                    <td class="center">{{ forloop.counter }}</td>
                    <td>{{ player.user }}</td>
                    <td>{{ player.nw_alias }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endblock %}